<app-header></app-header>
<div class="row">
  <div class="col-3 main-menu">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><a class="nav-item nav-link text-uppercase" routerLink="/item" routerLinkActive="active">
          <i class="fas fa-save"><span>Item</span></i>

        </a></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li>
              <span>
                <a class="nav-item nav-link text-uppercase" routerLink="/brands" routerLinkActive="active">
                 <i class="fas fa-save"><span>Marca</span></i>
               </a>
              </span>
            </li>
            <li>
               <span>
                <a class="nav-item nav-link text-uppercase" routerLink="/capacity" routerLinkActive="active">
                 <i class="fas fa-save"><span>Capacidad</span></i>
               </a>
              </span>
            </li>
            <li>
               <span>
                <a class="nav-item nav-link text-uppercase" routerLink="/category" routerLinkActive="active">
                 <i class="fas fa-save"><span>Categoría</span></i>
               </a>
              </span>
            </li>
            <li>
               <span>
                <a class="nav-item nav-link text-uppercase" routerLink="/model-item" routerLinkActive="active">
                 <i class="fas fa-save"><span>Modelo</span></i>
               </a>
              </span>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><a class="nav-item nav-link text-uppercase" routerLink="/inventory" routerLinkActive="active">
          <i class="fas fa-save"><span>Inventory</span></i>

        </a></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li>
               <span>
                <a class="nav-item nav-link text-uppercase" routerLink="/inventoryState" routerLinkActive="active">
                 <i class="fas fa-save"><span>Estado</span></i>
               </a>
              </span>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><a class="nav-item nav-link text-uppercase" routerLink="/itemImage" routerLinkActive="active">
          <i class="fas fa-save"><span>Catálogo</span></i>

        </a></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li>Opcion 1</li>
            <li>Opcion 2</li>
            <li>Opcion 3</li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><a class="nav-item nav-link text-uppercase" routerLink="/sale" routerLinkActive="active">
          <i class="fas fa-save"><span>Sale</span></i>

        </a></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li>
               <span>
                <a class="nav-item nav-link text-uppercase" routerLink="/sale-detail" routerLinkActive="active">
                 <i class="fas fa-save"><span>Detalle</span></i>
               </a>
              </span>
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><a class="nav-item nav-link text-uppercase" routerLink="/customer" routerLinkActive="active">
          <i class="fas fa-save"><span>Customer</span></i>

        </a></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li>Opcion 1</li>
            <li>Opcion 2</li>
            <li>Opcion 3</li>
          </ul>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>
  <div class="col-9 main-content">
    <router-outlet></router-outlet>
  </div>
</div>
